
body {
    background-color: aqua;
    background-image: url("gramado.png");
    background-position: bottom;
    background-repeat: repeat-x;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    height: 100dvh;
}
h1 {
    color: darkred;
}

p {
    text-decoration: dotted;
}

address {
    font-size: x-small;
    color: darkray;
}